<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyyMMdd HHmmssSSS} %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <logger name="com.ld4mbse" level="TRACE" additivity="false">
            <appender-ref ref="Console" />
        </logger>
        <Root>
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>